<!DOCTYPE html>
<html lang="es">
<head>
    <title><%= title %> - Joaquín C.</title>

    <%- include("partials/header"); -%>
    <link rel="stylesheet" href="/css/about-me.css">
</head>
<body>
    <%- include("partials/navbar"); -%>

    <header>
        <h1>¡Hola!</h1>
    </header>
    <main>
        <h2>Esta es la sección <%= title %></h2>
    </main>
    <%- include("partials/footer"); -%>
</body>
</html>